.mat-paginator {
    background-color: #27293d;
}

.mat-paginator-range-label {
    color: rgba(255, 255, 255, 0.7);
}
.mat-button-base  {
    background-color: #27293d;
}

.mat-button-base:hover{
    background-color: #fd5d93;
}

.mat-paginator-icon {
    fill: rgba(255, 255, 255, 0.7) !important;
}

.mat-paginator-icon

.mat-button-disabled {
    background-color: gray;
}