
<div class=" content">
  <div class=" row">
    <div class=" col-md-12">
      <div class=" card">
        <div class=" card-header mb-5">
          <h3 class=" card-title">About Application</h3>
        </div>
        <div class=" card-body">
          <h4>Graph</h4>
          <p>This app allows you to gather data on accounts which interacted with your profile by following or unfollowing.</p>
          <p>After you gather data, current followers and followings will save to database, which allow us to determine who subscribed or unsubscribed in next data gathering.</p>
          <p>Based on those data stamps we can draw graph, which display curve of followers/followings count to timeline.</p>
          <p>You can interact with graph by specify timeline or clicking on graph points which allow us to specify timeline.</p>
          <h4></h4>
          <h4>New followers and followings</h4>
          <p>After you selected specific timeline, you can see new and lost followers/followings.</p>
          <p>You can subscribe or unsubscribe to displayed accounts.</p>
        </div>
      </div>
    </div>
  </div>
</div>  